<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CRM Travel</title>
    <link rel="stylesheet" type="text/css" href="../../public/assets/semantic/semantic.min.css">
    <link rel="stylesheet" href="../../public/assets/css/style.css" type="text/css">


</head>

<body>
    <div class="ui grid">
        <div class="two wide column">
            <h2 class="ui block header" id="employeename">
                Jane Employee
            </h2>
        </div>
        <div class="eight wide column">
            <h1>Client Page</h1>
            <h3>Deadlines</h3>
            <div class="ui styled fluid accordion">
                <div class="title" id="todaysDeadlinesClients">
                    <i class="dropdown icon"></i>
                    Today
                </div>
                <div class="content">
                    list of dates
                </div>
                <div class="title" id="2weekDeadlinesClients">
                    <i class="dropdown icon"></i>
                    2 Weeks
                </div>
                <div class="content">
                    list of dates
                </div>
                <div class="title" id="30dayDeadlinesClients">
                    <i class="dropdown icon"></i>
                    30 Days
                </div>
                <div class="content">
                    list of dates
                </div>
            </div>

            <h3>Flights</h3>
            <div class="ui styled fluid accordion">
                <div class="title" id="todaysFlightsClients">
                    <i class="dropdown icon"></i>
                    Today
                </div>
                <div class="content">
                    list of dates
                </div>
                <div class="title" id="1weekFlightsClients">
                    <i class="dropdown icon"></i>
                    1 Weeks
                </div>
                <div class="content">
                    list of dates
                </div>
                <div class="title" id="completedFlightsClients">
                    <i class="dropdown icon"></i>
                    Completed Flights
                </div>
                <div class="content">
                    list of dates
                </div>
            </div>
        </div>

        <div class="two wide column">
            <div class="ui vertical menu">
                <h4>Navigation Menu</h4>
                <div class="item">
                    <div class="header" id="dashboard_nav">Dashboard</div>
                </div>
                <div class="item">
                    <div class="header" id="mainclients_nav">Clients</div>
                    <div class="menu">
                        <a class="item" id="activeclients_nav">Active Clients</a>
                        <a class="item" id="nonactiveclients_nav">Non-Active Clients</a>
                        <a class="item" id="vipclients_nav">VIP Clients</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="../../public/assets/semantic/semantic.min.js"></script>
</body>

</html>