<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CRM Travel</title>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>

</head>

<body>
    <h1>Deadlines and Flights</h1>
    <h2 class="ui block header" id="empolyeename">
        Jane Employee
    </h2>
    <div class="ui vertical menu">
        <h4>Navigation Menu</h4>
        <div class="item">
            <div class="header" id="dashboard_nav">Dashboard</div>
        </div>
        <div class="item">
            <div class="header" id="mainclients_nav">Clients</div>
            <div class="menu">
                <a class="item" id="activeclients_nav">Active Clients</a>
                <a class="item" id="nonactiveclients_nav">Non-Active Clients</a>
                <a class="item" id="vipclients_nav">VIP Clients</a>
            </div>
        </div>
        <div class="item">
            <div class="header" id="deadlines_nav">Deadlines</div>
        </div>
        <div class="item">
            <div class="header" id="flights_nav">Flights</div>
        </div>
    </div>
    <h3>Deadlines</h3>
    <div class="ui styled fluid accordion">
        <div class="title" id="todaysdeadlines">
            <i class="dropdown icon"></i>
            Today
        </div>
        <div class="content">
            list of dates
        </div>
        <div class="title" id="2weekdeadlines">
            <i class="dropdown icon"></i>
            2 Weeks
        </div>
        <div class="content">
            list of dates
        </div>
        <div class="title" id="30daydeadlines">
            <i class="dropdown icon"></i>
            30 Days
        </div>
        <div class="content">
            list of dates
        </div>
    </div>
    <h3>Flights</h3>
    <div class="ui styled fluid accordion">
        <div class="title" id="todaysflights">
            <i class="dropdown icon"></i>
            Today
        </div>
        <div class="content">
            list of dates
        </div>
        <div class="title" id="1weekflights">
            <i class="dropdown icon"></i>
            1 Weeks
        </div>
        <div class="content">
            list of dates
        </div>
        <div class="title" id="completedflights">
            <i class="dropdown icon"></i>
            Completed Flights
        </div>
        <div class="content">
            list of dates
        </div>
    </div>

</body>

</html>