<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CRM Travel</title>
    <link rel="stylesheet" type="text/css" href="../../public/assets/semantic/semantic.min.css">
    <link rel="stylesheet" href="../../public/assets/css/style.css" type="text/css">
</head>

<body>
    <!--top of the page headers-->    
    <h2 class="ui block header" id="employeename">
        Jane Employee
    </h2>
    <h1 id="maindashboardtitle">Dashboard</h1>
    <!--navigation side bar-->
    <div class="ui vertical menu navigation">
        <h3>Navigation Menu</h3>
        <div class="item">
            <div class="header" id="dashboard_nav">Dashboard</div>
        </div>
        <div class="item">
            <div class="header" id="mainclients_nav">Clients</div>
            <div class="menu clientscat">
                <a class="item" id="activeclients_nav">Active Clients</a>
                <a class="item" id="nonactiveclients_nav">Non-Active Clients</a>
                <a class="item" id="vipclients_nav">VIP Clients</a>
            </div>
        </div>
        <div class="item">
            <div class="header" id="deadlines_nav">Deadlines and Flights</div>
        </div>
    </div>
    <div class="ui menu">
        <div class="item">
            <div class="ui button" id="addnewclient">+ New Client</div>
        </div>
    </div>
    <!--deadlines dashboard view-->
    <div class="deadlines">
        <h3 class="ui top attached header" id="deadlinesection">
            Deadlines
        </h3>
        <div class="ui attached segment">
            <p></p>
        </div>
    </div>
    <!--flights dashboard view-->
    <div class="flights">
        <h3 class="ui top attached header" id="todaysflightsection">
            Today's Client Flights
        </h3>
        <div class="ui attached segment">
            <p></p>
        </div>
    </div>
    <!--VIP clients dashboard view-->
    <div class="vip">
        <h3 class="ui top attached header" id="vipclientsection">
            VIP Clients
        </h3>
        <div class="ui attached segment">
            <p></p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="../../public/assets/semantic/semantic.min.js"></script>
</body>

</html>