<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CRM Travel</title>
    <link rel="stylesheet" type="text/css" href="assets/semantic/semantic.min.css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
</head>

<body>
    {{{body}}}


{{!--Add in Jquery--}}

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="assets/semantic/semantic.min.js"></script>
    <script src="assets/javascript/crm.js"></script>
</body>

</html>