
/*General*/
body{
    margin: 125px;
    background-color: #2A4F6E;
       
}

/* top of the dashboard pages */
#maindashboardtitle,
#deadlinesflightsdash{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 50px;
}

/*navigation bar*/
.navigation{    
    font-size: 20px;    
}
.clientscat{
    font-size: 16px;
}

#navtitle{
    text-align: center;
}

/*main dashboard content*/
.deadlines{    
    margin: 25px;  
}

#deadlinebody{
    width: 1000px;
    height: 200px;    
}

.flights{    
    margin: 25px;
}

#todaysflightbody{
    width: 1000px;
    height: 200px; 
}

.vip{    
    margin: 25px;
}

#vipclientbody{
    width: 1000px;
    height: 200px; 
} */

/*deadline and flight dashboard content*/

.maindeadlines{
    margin: 25px; 
    width: 900px;
}


.flightslist{
    margin: 25px; 
    width: 815px; 
    position: relative;
    right: 25px;
}


/*new client content*/
#newClientForm{
    float:left;
    position: relative;
}

